
#body {
    
    
    background:url("https://pbs.twimg.com/media/C0wsUrGVIAEddbf.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:auto;
    min-width: 100%;
    
}

#shadow {   
box-shadow: 10px 10px 20px grey;
}

.city {
    float:none;
    overflow:hidden;
    padding: 15px;
    max-width:inherit;
    height: auto;
    
}
